.container{
    width: 50%;
    height: 700px;
    margin: auto ;
}
.header {
    height: 20%;
    text-align: center;
}
.middle{
    height: 60%;
}
.bottom{
    height: 20%;
    text-align: right;
}

.detail_div {
    height: 100%;
}
.detail_div input {
    margin-bottom: 10px;
}
.content {
    white-space: pre;
    overflow: auto;
}
#detail_top {
    text-align: right;
}
#detail_top span {
    margin-left: 20px;
}